[ui-view].ng-enter, [ui-view].ng-leave {
    /*  position: absolute;*/
    /*    -webkit-transition:all .3s ease-in-out;
        -moz-transition:all .3s ease-in-out;
        -o-transition:all .3s ease-in-out;
        transition:all .3s ease-in-out;*/
}

[ui-view].ng-enter {
    opacity: 0;
}

[ui-view].ng-enter-active {
    opacity: 1;
}

[ui-view].ng-leave {
    opacity: 1; 
}

[ui-view].ng-leave-active {
    opacity: 0;
}

.link-hover:hover {
    cursor: pointer !important;
}

.invalid-input {
    border-color: #dc3545;
}

.index {

}
.signin {
    background: #f1f1f1;
}

