<style type="text/css">
  .form-control {
    outline: 0;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}

.autocomplete-holder {
    position: relative;
}

.autocomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.autocomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.autocomplete-description {
    font-size: 14px;
}

.autocomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;

}

.autocomplete-selected-row, .autocomplete-row:hover {
   /* background-color: lightblue;*/
    background-color: rgb(123, 170, 219);
    color: #ffffff;
}

.autocomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.autocomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.autocomplete-image-default {
    /* Add your own default image here
     background-image: url('/assets/default.png');
    */
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}

</style>

<div class="autocomplete-holder">
  <input id="{{id}}_value" 
         ng-model="searchStr"
         type="text" 
         placeholder="{{placeholder}}" 
         class="{{inputClass}}" 
         onmouseup="this.select();" 
         ng-focus="resetHideResults()" 
         ng-blur="hideResults()" />
  <div id="{{id}}_dropdown" class="autocomplete-dropdown" ng-if="showDropdown">
    <div class="autocomplete-searching" ng-show="searching">{{searchingLabel}}</div>
    <div class="autocomplete-searching" ng-show="!searching && (!results || results.length == 0)">{{noelementfoundLabel}}</div>
    <div class="autocomplete-row" ng-repeat="result in results" ng-mousedown="selectResult(result)" ng-mouseover="hoverRow()" ng-class="{\'autocomplete-selected-row\': $index == currentIndex}">
      <div ng-if="imageField" class="autocomplete-image-holder">
        <img ng-if="result.image && result.image != \'\'" ng-src="{{result.image}}" class="autocomplete-image"/>
        <div ng-if="!result.image && result.image != \'\'" class="autocomplete-image-default"></div>
      </div><div class="autocomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
      <div class="autocomplete-title" ng-if="!matchClass">{{ result.title}}</div>
      <div ng-if="result.description && result.description != \'\'" class="autocomplete-description">{{result.description}}</div> 
    </div>
  </div>
</div>