<style type="text/css">
    .pageable-btn-link:disabled {color: #000 !important;}
    .no-row {background-color: #fff !important;}
    .no-row:hover {background-color: #fff !important;}
    .cp {cursor:pointer}
    .action-col {
        width: 0px !important;
        padding-left: 0 !important;
        margin-left: 0 !important;          
        padding-right: 0 !important;
        margin-right: 0 !important;
        /*vertical-align: bottom !important;*/
    }
    .action-col-content {
        display: inline-block;
        z-index: 999;
        position: absolute;
        background-color: #fff;
        padding: 0 !important;
        margin: 0 !important;
    }
</style>

<div class="row mb-3">

    <!-- actions group dropdown -->

    <div class="dropdown mr-auto">
        <button ng-repeat="t in getToolbar()" ng-click="t.callbackFn()" class="btn btn-sm btn-info" type="button">
            <i ng-if="t.icon" class="{{t.icon}}"></i>
            {{t.title|translate}}
        </button>
        <button ng-if="isSelectable() && getActions().length > 0" 
                ng-disabled="getNumRowChecked() == 0"
                class="btn btn-outline-secondary btn-sm dropdown-toggle" 
                type="button" id="grid-actions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate>
            grid-actions
        </button>
        <div ng-if="isSelectable()" class="dropdown-menu" aria-labelledby="grid-actions">
            <a class="dropdown-item cp" 
               ng-repeat="a in getActions()|orderBy: 'title'" 
               ng-click="fireActionGroup(a)" 
               ng-if="a.multiple">
                <i ng-if="a.icon" class="{{a.icon}}"></i>
                {{a.title|translate}}
            </a>
        </div>
    </div>

    <!-- refresh button -->

    <button type="button" class="btn btn-outline-secondary btn-sm" ng-click="refresh()">
        <i class="fa fa-sync fa-fw"></i>
        <span ng-if="displayBtnLabel()" translate>refresh</span>
    </button>

    <button type="button" class="btn btn-link btn-sm pageable-btn-link" disabled>
        <span translate>page</span> {{range.offset}} - {{numberOfPages()}} <span translate>of</span> {{total}}
    </button>

    <!-- prev and next buttons -->

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-secondary btn-sm" ng-disabled="range.offset == 1" ng-click="prev()">
            <i class="fa fa-backward fa-fw"></i>
            <span ng-if="displayBtnLabel()" translate>prev</span>
        </button>

        <button type="button" class="btn btn-outline-secondary btn-sm" ng-disabled="range.offset >= (total / range.limit)" ng-click="next()">
            <span ng-if="displayBtnLabel()" translate>next</span>
            <i class="fa fa-forward fa-fw"></i>
        </button>
    </div>

    <!-- per-page dropdown -->

    <button type="button" class="btn btn-link btn-sm pageable-btn-link" disabled>
        <span translate>per-page</span>
    </button>
    <div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="per-page" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{range.limit}}
        </button>
        <div class="dropdown-menu" aria-labelledby="per-page">
            <a class="dropdown-item cp" ng-repeat="l in limits" ng-click="changeLimit(l)">{{l}}</a>
        </div>
    </div>

</div>

<div class="row">

    <table class="table" ng-class="{'table-striped':isStriped(), 'table-hover':isHover()}">

        <thead>
            <tr>
                <th ng-if="isSelectable()">
                    <input type="checkbox" id="check-all" ng-model="checkAll.isCheck" ng-click="checkAll()">
                </th>
                <th class="action-col"></th>
                <th ng-repeat="c in getColumns()| orderBy: 'tabIndex'">
                    {{c.header|translate}} <span ng-if="c.sortable" sortable order="c.dataIndex" sort="sorter" callback-fn='refresh()'></span>
                </th>
            </tr>
            <tr class="no-row">
                <td ng-if="isSelectable()"><!--for selections--></td>
                <td><!--for action--></td>
                <td ng-repeat="c in getColumns()| orderBy: 'tabIndex'">
                    <div ng-if="c.filterable" ng-switch="c.filterable.view">
                        <div ng-switch-when="combo">
                            <f-combo></f-combo>
                        </div>
                        <div ng-switch-when="date">
                            <f-date on-change="refresh()" model="filter[c.dataIndex]" validator="filterValidator[c.dataIndex]"></f-date>
                        </div>
                        <div ng-switch-default>
                            <f-text></f-text>
                        </div>
                    </div>
                </td>
            </tr>
        </thead>

        <tbody>
            <tr ng-if="error && !loading" class="no-row">
                <td colspan="{{getColspan()}}" align="center">
                   <error text="errorMsg"></error>
                </td>
            </tr>
            <tr ng-if="loading && !error" class="no-row">
                <td colspan="{{getColspan()}}" align="center">
                    <loading size="large"></loading>
                </td>
            </tr>
            <tr ng-if="!loading && total == 0 && !error" class="no-row">
                <td colspan="{{getColspan()}}" align="center">
                    <p translate>not-element-found</p>
                </td>
            </tr>
            <tr ng-if="!loading && total > 0 && !error"
                ng-repeat="r in getItems()" 
                ng-class="{'table-warning' : r.checked}"
                ng-mouseover="r.menu = true"
                ng-mouseleave="r.menu = false"
                >
                <td ng-if="isSelectable()">
                    <input type="checkbox" ng-model="r.checked" ng-click="changeCheck($event, r)">
                </td>
                <td class="action-col">
                    <div class="action-col-content" ng-if="r.menu">   
                        <span ng-repeat="a in getActions()|orderBy: 'title'">
                            <button type="button" ng-click="fireAction(a, r)" class="btn btn-link btn-sm">
                                <i ng-if="a.icon" class="{{a.icon}}"></i>
                                {{a.title|translate}}
                            </button>
                            <span ng-if="!$last"> | </span>
                        </span>
                    </div>
                </td>
                <td ng-repeat="c in getColumns()| orderBy: 'tabIndex'">
                    {{r[c.dataIndex]}}
                </td>
            </tr>        
        </tbody>

    </table>

</div>

<div ng-if="debug">
    Validator
    <pre>{{filterValidator|json}}</pre>
    Status
    <pre>{{filterStatus|json}}</pre>
    Filter
    <pre>{{filter|json}}</pre>
    <pre>{{sorter|json}}</pre>
    <pre>{{range|json}}</pre>
    <pre>total={{total}}</pre>
    <pre>loading={{loading}}</pre>
    <pre>{{items|json}}</pre>
</div>

