<!-- 
navbar navbar-expand-md navbar-dark fixed-top bg-dark
navbar navbar-expand-lg navbar-light bg-light
-->
<nav ng-controller="TopMenuCtrl" class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-dark">

    <a class="navbar-brand" href="#/index">
        {{info.name}}
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">

        <ul class="navbar-nav mr-auto">
            <!--                    <li class="nav-item" ng-class="{active: $state.includes('home')}">
                                    <a class="nav-link" ui-sref="home">
                                        Home <span class="sr-only">(current)</span>
                                    </a>
                                </li>-->
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown mr-3">
                <a class="nav-link dropdown-toggle link-hover" id="user-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user.username}}
                    <i class="fa fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu">
                    <a class="dropdown-item link-hover" ng-click="changePwd()">
                        <i class="fa fa-lock fa-fw"></i>
                        <span translate>user-change-pwd</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item link-hover" ng-click="showInfo()">
                        <i class="fa fa-info-circle fa-fw text-primary"></i><span>Info</span>
                    </a>
                </div>
            </li> 
            <li class="nav-item">
                <a class="nav-link" ng-click="logout()" ui-sref="signin">
                    <i class="fas fa-sign-out-alt fa-fw"></i>
                    <span translate>signout</span>
                </a>
            </li>
        </ul>

    </div>
    
</nav>

<div class="container">
   
    <div ng-controller="TestCtrl">
        <grid config="gridConfig"></grid>
    </div>
</div>