<!DOCTYPE html>
<html>
    <head>
        <title>App</title>

        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="Mon, 01 Jan 1990 00:00:00 GMT" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui, shrink-to-fit=no">

        <link href="css/spaces.css" rel="stylesheet" type="text/css"/>
        <link href="lib/bootstrap-4.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">-->
        <link href="css/fontawesome/css/fontawesome-all.css" rel="stylesheet" type="text/css"/>
        <link href="css/angular-loading-bar.css" rel="stylesheet" type="text/css"/>
        <link href="css/app.css" rel="stylesheet">
        <!--[if lt IE 9]>
           <script src="lib/utils/html5shiv.min.js" type="text/javascript"></script>
           <script src="lib/utils/respond.min.js" type="text/javascript"></script>
        <![endif]-->
        <script src="lib/jquery-3.3.1.min.js" type="text/javascript"></script>
        <script src="lib/popper.min.js" type="text/javascript"></script>
        <script src="lib/bootstrap-4.1.1/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="lib/moment.min.js" type="text/javascript"></script>
        
        <script src="lib/angular-1.5/angular.min.js" type="text/javascript"></script>
        <script src="lib/angular-1.5/angular-animate.js" type="text/javascript"></script>
        
        <script src="lib/angular-ngstorage.js" type="text/javascript"></script>
        <script src="lib/angular-gettext.min.js" type="text/javascript"></script>
        <script src="lib/angular-loading-bar.js" type="text/javascript"></script>
        <script src="lib/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="lib/angular-ui-router-breadcrumbs.min.js" type="text/javascript"></script>
        
        <script src="js/ngCommon.js" type="text/javascript"></script>
        <script src="js/ngInput.js" type="text/javascript"></script>
        <script src="js/ngGrid.js" type="text/javascript"></script>
        <script src="js/ngAuth.js" type="text/javascript"></script>
        
        <script src="js/app.js" type="text/javascript"></script>
        <script src="js/translations.js" type="text/javascript"></script>
        <script src="js/controllers.js" type="text/javascript"></script>
        <script src="js/services.js" type="text/javascript"></script>

    </head>
    <body ng-app="app" ng-controller="MainCtrl" ng-class="{'signin':$state.includes('signin')}">

        <toast></toast>
            
        <div ui-view></div>

        <div id="expiredModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" translate>session-expired-title</h4>
                    </div>
                    <div class="modal-body">
                        <p translate>session-expired-msg</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" translate>no</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ui-sref="signin" translate>yes</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="appInfoModal" ng-controller="TopMenuCtrl" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Info</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="font-weight-bold">{{info.name}}</p>
                        <p>Release: {{info.version}}</p>
                        <p>Revisione: {{info.relDate}}</p>
                        <p class="text-right">
                            <button ui-sref="logs" data-dismiss="modal" type="button" class="btn btn-link btn-sm">
                                <i class="fa fa-bug"></i>
                                <span translate>show-logs</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
    </body>
</html>
